* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    background-color: aqua;
    background: url(assets/images/concert4.jpg);
    font-family: Arial; }