@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
html {
    height: 100vh;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    background: rgb(196, 192, 192);
}

/* =================================== */
/* Loading Animation */
/* =================================== */


/* .loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 600px;
}

.loader.hidden {
  animation: fadeOut 6s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
} */



/* =================================== */
/* Artist Acordion */
/* =================================== */
h1{
  font-size: 100px
}

.artistAccordion {
    max-width: 990px;
    background: rgba(0, 0, 0, 0.10);
    height: 300px;
    margin: 20px auto;
    display: flex;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 100px;
}
.box {
    position: relative;
    height: 100%;
    flex: 1;
    background-position: left;
    background-size: cover;
    transition: .7s;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
.box:hover{
    flex: 7;
    height: 400px;
}
.a1 {
    background-image: url("../images/vidar-nordli-mathisen-599293-unsplash.jpg");
}
.a2 {
    background-image: url("../images/joshua-fuller-368384-unsplash.jpg")
}
.a3 {
    background-image: url("../images/mean-shadows-155873-unsplash.jpg");
}
.a4 {
    background-image: url("../images/sandie-clarke-465887-unsplash.jpg");
}
.a5 {
    background-image: url("../images/austin-neill-222825-unsplash.jpg"); 
}
p {
  font-weight: normal;
  font-family: 'Exo 2', sans-serif;
  background: #ffffff7e;

}
.text {
    position: absolute;
    bottom: 0;
    opacity: 0;
    padding: 10px;
}
.box:hover .text{
    transition: 1s;
    opacity:1;
}

h1 {
    font-size: 50px;
    width: 250px;
    text-align: center;
    margin: 100px auto 20px auto;
    
    text-shadow: 3px 4px 10px #000; 

}
h2 {
  font-size: 20px;

  background: #ffffff7e;

  /* width: 150px; */
  /* text-align: center; */
  /* margin: 100px auto 20px auto; */
}
@media screen and (max-width: 800px){
    body{
        margin: 0;
    }
    .artistAccordion {
        flex-direction: column;
        height: 700px;
        box-shadow: none;
    }
    .box {
        box-shadow: none;
    }
    .box:hover {
        flex: 7;
    }
}

/* =================================== */
/* eBay Acordion */
/* =================================== */


.ebayAccordion {
  max-width: 990px;
  background: rgba(0, 0, 0, 0.10);
  height: 300px;
  margin: 20px auto;
  display: flex;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 100px;
}
.box {
  position: relative;
  height: 100%;
  flex: 1;
  background-position: left;
  background-size: cover;
  transition: .7s;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
.box:hover{
  flex: 7;
  height: 400px;
}
.b1 {
  background-image: url("../images/loadingImage.gif");
}
.b2 {
  background-image: url("../images/loadingImage.gif");
}
.b3 {
  background-image: url("../images/loadingImage.gif");
}
.b4 {
  background-image: url("../images/loadingImage.gif");
}
.b5 {
  background-image: url("../images/loadingImage.gif");
}
p {
  font-weight: normal;
  font-family: 'Exo 2', sans-serif;

  background: #ffffff7e;
}
.text {
  position: absolute;
  bottom: 0;
  opacity: 0;
  padding: 10px;
}
.box:hover .text{
  opacity:1;
}
h1 {
  width: 250px;
  text-align: center;
  margin: 100px auto 20px auto;
}
h2 {

  font-size: 26px;
  background: #ffffff7e;

  /* width: 150px; */
  /* text-align: center; */
  /* margin: 100px auto 20px auto; */
}
@media screen and (max-width: 800px){
  body{
      margin: 0;
  }
  .ebayAccordion {
      flex-direction: column;
      height: 700px;
      box-shadow: none;
  }
  .box {
      box-shadow: none;
  }
  .box:hover {
      flex: 7;
  }
}

.navbar {
  /* position: ; */
  top: 0%;
  justify-content: center;
  align-content: center;
  text-shadow: 1px 2px 5px #000; 
  font-size: 30px;  
}